@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3kfjcp');
  src:  url('../fonts/icomoon.eot?3kfjcp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3kfjcp') format('truetype'),
    url('../fonts/icomoon.woff?3kfjcp') format('woff'),
    url('../fonts/icomoon.svg?3kfjcp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-qiita-squea:before {
  content: "\e900";
  color: #59bb0c;
  font-size: 125%;
}
.icon-qiita:before {
  content: "\e901";
  color: #59bb0c;
  font-size: 125%;
}
.icon-github:before {
  content: "\eab0";
  color: #333;
  font-size: 125%;
}
.icon-codepen:before {
  content: "\eae8";
  color: #000;
  font-size: 125%;
}
