/*default*/
dt{font-weight: normal;;}
html body{margin:0; padding:0;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Century Gothic','游ゴシック','Yu Gothic','HiraginoGothic','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro';
}
section{
  margin-top: 120px;
}
li{list-style: none;}

h2{margin:0;font-weight: 600; margin-bottom:21px;}
h2 + span{font-size: 1.7rem; border-top: 1px solid #666; padding: 9px 15px 0;}
.btn:hover{color:#fff; opacity: .85;}

.row{margin: 0;}
/*body*/
.mt30{margin-top: 30px !important;}
.mt20{margin-top: 20px !important;}
.m0{margin: 0 !important;}
.m_lr0{margin-left: 0 !important; margin-right: 0 !important;}
.ptd30{padding: 30px 0!important;}
.ptd60{padding: 60px 0!important;}
.pd05{padding: 0 5px !important;}
.pd015{padding: 0 15px !important;}
.pd020{padding: 0 20px !important;}
.pd040{padding: 0 40px !important;}
.p_lr0{padding-left: 0 !important; padding-right: 0 !important;}
.t-r{text-align: right !important;}
.t-l{text-align: left !important;}
.none{display: none!important;}

.dispF-j{display: flex;justify-content: flex-start;;}
.dispF-j .contBox{padding:0 20px;}

div.btn{
  padding: 10px 15%;
  background: #333;
  color:#fff;
  border: 1px solid #333;
  border-radius: 20px;
}
div.btn i{
  font-size: 115%;
}




/*headerContents*/
header {position: relative; z-index: 99999;}
header .fast-veiw .images{
  width: 100%;
  height: 760px;
  margin:0;
  padding:0;
  background: #0055ff;
  background: url(../img/picture/top06.jpg);
  background-size: auto 100%;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}


header .fast-veiw .images:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}

header h1{
  text-align: center;
  width: 100%;
  margin: 0;
  position: absolute;
  top:40%;
  font-weight: 600;
  color: #fff;
  text-shadow: 3px 3px rgba(0,0,0,.15);
  letter-spacing: .5rem;
  line-height: 1.2em;
}
header h1 .name{
  display: inline-block;
  margin-top: 5px;
  letter-spacing: 0;
  font-size: 2rem;
}
/*Mein*/
main{
  text-align: center;
}

/*nav*/
main nav{
  width: 100%;
  background: #fdfdfd;
  font-size: 120%;
}

main nav ul.main-nav{
  /*margin: 0 20px;*/
  padding: 5px 15px 15px 15px;
  line-height: 2.5em;
}

main nav ul.main-nav li{
  /*padding-bottom: 3px;*/
  border-bottom: solid 3px #ccc;
}

main nav ul.main-nav li a{
  text-decoration: none;
}
main nav ul.main-nav li:hover{
  text-decoration: none;
  border-bottom: solid 3px #0055ff;
}

main nav li a{
  display: block;
  width: 100%;
}
/*Script*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s;
    opacity: .8;
    z-index: 99998;
}
/*topBtn*/
#page-top {
    position: fixed;
    bottom: 5px;
    right: 20px;
    font-size: 77%;
    z-index: 99999;
}
#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 80px;
    padding: 28px 0;
    text-align: center;
    display: block;
    border-radius: 40px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.4)
}
#page-top span{display: block; margin-bottom: 5px;}
#page-top span img{width: 20px;}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}
/*#page-top-foot {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999;
}
#page-top-foot a:hover {
    text-decoration: none;
}*/


.tag{margin:5px 0;padding:3px 10px; border-radius: 10px; background: #f9f;}
/*.contTitle{margin-bottom: 30px;}*/


.blur{
  position: relative;
  z-index: 999;
  background-size: cover;
}
.blur:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}



/*event*/
.index-event .contBox{
  display: block;
  height: 300px;
  background: #ff0055;
  margin-bottom: 30px;
}

/*social*/
.index-social{
  /*display: inline-flex;*/
  padding: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.middle{
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.index-social .contBox h3{
  display: inline;
  font-weight: 900;
  color: #ff0055;
  font-size: 1.4rem;
}

.index-social .contBox i{
  font-size: 125%;
}
@media screen and (min-width:760px) {
  .kai{display: block;}
}

/*concept*/
.index-concept .contBox :first-child{
  display: inline-block;
  width: 530px;
  padding-left: 40px;
}
.index-concept .contBox span{
  display: block;
  line-height: 2.8em;
  letter-spacing: 0.4em;
}
/*gallery02*/


/*gallery*/
.index-gallery {
  padding:60px 20px;
  background: #ffe7d3;
}
.index-gallery  .contBox .block{
  width: 100%;
  margin-bottom: 60px;
}
.index-gallery .contBox{ text-align: left; margin-bottom: 30px;}
.index-gallery .contBox span{display:block;border-radius:10px;}
.index-gallery .bg-img01{background: url(../img/gallery/gallery-01.png);}
.index-gallery .bg-img02{background: url(../img/gallery/gallery-02.png);}
.index-gallery .bg-img03{background: url(../img/gallery/gallery-03.png);}
.index-gallery  .contBox a{
  display: block;
  position: relative;
  z-index:1;
  width: 100%;
  height: 280px;
  background-size: 100% auto;
  background-position: 25% 10%;
  transition:200ms ease all;
  border-radius: 10px;
}
.index-gallery .contBox a:hover{
  background-size: 105% auto;
  background-position: 10% 10%;
}
.index-gallery .filter{
  position: relative;
  z-index:2;
  bottom: 0;
  width: 100%;
  height: 280px;
  background: rgba(40,40,40,.75);
}
.index-gallery .textBox{
  position: absolute;
  top: 20px;
  z-index: 3;
  padding: 20px;
  width: 55%;
  background: rgba(255,255,255,.85);
}
.index-gallery .right{right: 20px;}
.index-gallery .left{left: 20px}

/*profile*/
.index-profile .contBox{
  padding: 0 20px;
}
.index-profile .contBox .textBox{
  display:inline-block;
  line-height: 2.4em;
  border: 1px solid #333;
  text-align: left;
  font-family: 'monospace','ヒラギノ角ゴ ProN W3'
'Hiragino Kaku Gothic ProN','HiraKakuProN-W3';
}
.index-profile .contBox ul{
  width: 80%;
  padding: 30px;
}
.index-profile .contBox .textBox li{
  list-style: none;
  background: url(../img/under.png);
  background-position-y: -4px;
}
.index-profile .contBox .textBox li:nth-last-of-type(1){
  border-bottom: none;
}
.index-profile dl{
  display: inline-block;
  width: 80%;
  border-top: 1px solid #333;
  /*border-right: 1px solid #333;*/
  /*border-bottom: 1px solid #333;*/
  border-left: 1px solid #333;
}
.index-profile dt{
  padding: 15px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-collapse: collapse;
}
.index-profile dd{
  padding: 15px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
.index-profile .dm{
  height: 100%;
}
.index-profile .cTitle{
  font-weight: 600;
  padding: 15px!important;
}
.index-profile img{
  width: 40px;
  padding-bottom: 10px;
}
.index-profile .tChild span{
  display: block;
  font-size: .9em;
}

/*news*/
.index-news {
  padding: 60px 0;
  text-align: center;
  background: #edf5ad;
}
.index-news ul{
  display: inline-block;
  width: 80%;
  padding: 0 20px;
  line-height: 2.6em;
}
.index-news ul li{
  width: auto;
  margin-bottom: .6em;
  padding-bottom: .6em;
  text-align: left;
  list-style: none;
  border-bottom: 1px dotted #333;
}
.index-news .contBox .frontBox{
  display: inline-block;
  width: 170px;
  font-size: .8em;
  font-weight: 600;
}
.index-news .contBox .backBox{
  text-align: left;
  margin-top: 3px;
}
.index-news span{word-wrap: break-word;}

/*blog*/
/*.index-blog ul span{padding: 0;}*/
.index-blog ul {
  width:80%;
  display: inline-block;
}
.index-blog ul li{
  text-align: left;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #333;
}
.index-blog .frontBox{
  display: inline-block;
  padding: 0;
}
.index-blog .frontBox img{width: 80%;}
.index-blog .backBox{}
.index-blog .backBox span{display: inline-block;}
.index-blog .backBox .cTitle{width:100%; font-size: 1.2em;}
.index-blog .backBox .day{font-size: .8em; font-weight: 600;}
.index-blog .backBox .tag{font-size: .8em; font-weight: 600;}
.index-blog .backBox .report{width:100%;}

/*Contact*/
.index-contact iframe{
  height: 850px;
  width: 760px;
  border-radius: 10px;
}

/*footer*/
footer{
  margin:90px 0 0;
  width: 100%;
  background: #999;
  text-align: center;
}

footer .top-up{
  /*padding: 5px 0 10px;*/
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  background: #333;
}
footer .top-up .img-up{
  display: block;
  padding: 17px 0 20px;
}
footer .top-up img{
  width: 5%;
}

footer p{
  margin:0;
}


/*sp body*/
@media screen and (max-width:768px) {
  .none{display: none;}
  .index-social{display: inline-flex;}
  pd-l0{padding-left: 0!important;}

  main nav{
    font-size: 90%;
  }
  #page-top {bottom: -15px; right: 10px}
  #page-top a{border-radius: 5px;padding: 10px 0;width: 55px;}

  header .fast-veiw .images{height: 680px;}


  /*social*/
  .index-social .middle{display: inline-block;}
  .index-social{margin-top: 30px; padding-bottom:30px;}
  .index-social .contBox{}
  /*concept*/
  .index-concept .contBox :first-child{
    display: inline-block;
    width: auto;
    padding: 0 10% 0 14%;
  }
  /*profile*/
  .index-profile .contBox {
    width: 100%;
    padding: 20px 20px 0;
  }
  .index-profile .contBox .textBox{
    width: auto;
    padding: 20px;
  }
  .index-profile .contBox ul{
    width: 100%;
  }
  .index-profile .contBox .textBox li{
    line-height: 2.5em;
    border: none;
  }
  .index-profile dl{
    width:100%;
  }
  .index-profile .tChild.subCont dt{
    padding: 8px;
  }
  .index-profile .tChild.subCont dd{
    padding: 8px;
  }

  /*news*/
  .index-news{
    margin-top: 50px;
    padding: 30px 0 20px;
  }
  .index-news ul{
    width: 100%;
    line-height: 1.3em;
  }
  .index-news .contBox .frontBox{
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  .index-news .contBox .backBox{
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  /*blog*/
  .index-blog ul{
    width: 100%;
  }
  .index-blog ul li{
    display: block;
    width: 100%;
    min-height: 250px;
    text-align: left;
    border: none;
  }
  .index-blog .textBox{position: relative;}
  .index-blog .frontBox{
    display: block;
    position: static;
    width: 100%;
  }
  .index-blog .frontBox img{
    display: inline-block;
    margin: 0;
    width: 100%;
    border-radius: 5px;
  }
  .index-blog .backBox {
    position: absolute;
    z-index: 999;
    left: 0;
    bottom:15px;
    width: 100%;
    padding: 10px;
    background-color: rgba(255,255,255,0.85);
  }
  .index-blog .backBox .cTitle{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
  }
  .index-blog .backBox .report{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #333;
  }

  /*Contact*/

  .index-contact .contBox{
    min-width:320px;
    height:800px;
    overflow:auto; /* scrollからautoに変更 */
    -webkit-overflow-scrolling:touch;
  }
  .index-contact iframe{
    width:100%;
    height:100%;
    border:none; /* 追加で指定 */
    display:block; /* 追加で指定 */
    border-radius: 0;
  }
  footer .top-up{display: block;}
  .rc-anchor rc-anchor-normal rc-anchor-light{width: 230px!important;}

}/*sp body End*/


/*1040px largeStyle*/
@media screen and (min-width:1170px) {

  .Lclear{clear: both;}
  .compBox{display: flex;justify-content: center;}
  .sessionBox{display: flex;justify-content: center;}
  .wide1{}
  .wide2{margin-left: -100px!important;}
  .middle{display:inline-block;height: auto;}

  /*concept*/
  .index-concept .contBox :first-child{
    width: 498px;
  }
  /*compBox*/
  main .sessionBox{
    background: #edf5ad;
    margin-top: 120px;
    padding: 60px 0;
  }
  /*news*/
  .index-news{background: none; margin-top: 0; padding-top: 0;}
  .index-news ul{
    line-height: 1.3em;
  }
  .index-news .contBox .frontBox{
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  .index-news .contBox .backBox{
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  /*blog*/
  .index-blog{margin-top: 0;}

  /*footer*/
  /*footer #page-top-foot{display: none;}*/

}



/*testStyle*/
