#hamburger__btn
{
    display: none;
}
#hamburger__btn ~ .menu_content
{
    visibility: hidden;
}
#hamburger__btn:checked ~ .menu_content
{
    visibility: visible;
}

.hamburger__btn
{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 10%;

    display: block;

    width: 40px;
    height: 40px;

    border-radius: 0 0 5px 5px;
    background-color: #ccc;
}
.hamburger__btn:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 60%;
    height: 2px;

    content: '';
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    background-color: #fff;
}
.hamburger__btn span
{
    position: relative;

    display: block;

    width: 100%;
    height: 100%;
}
.hamburger__btn span:before,
.hamburger__btn span:after
{
    position: absolute;
    left: 50%;

    display: block;

    width: 60%;
    height: 2px;

    content: '';
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    background-color: #fff;
}
.hamburger__btn span:before
{
    top: 25%;
}
.hamburger__btn span:after
{
    bottom: 25%;
}

.menu_content
{
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;

    -webkit-transform: translateX(-50%) translateY(-50%);

    -ms-transform: translateX(-50%) translateY(-50%);

    transform: translateX(-50%) translateY(-50%);
}
.menu_content:after
{
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;

    width: 0;
    height: 0;

    content: '';
    -webkit-transition: width 1s ease 0s, height 1s ease 0s, opacity 0s ease 0s;
    transition: width 1s ease 0s, height 1s ease 0s, opacity 0s ease 0s;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
}
.menu_content a
{
    text-decoration: none;

    color: #fff;
}

#hamburger__btn:checked ~ .menu_content:after
{
    width: 200vw;
    height: 200vh;
}
#hamburger__btn:checked ~ .hamburger__btn:after
{
    content: none;
}
#hamburger__btn:checked ~ .hamburger__btn span:before,
#hamburger__btn:checked ~ .hamburger__btn span:after
{
    left: 44%;

    -webkit-transform: translateX(-50%);

    -ms-transform: translateX(-50%);

    transform: translateX(-50%);
}
#hamburger__btn:checked ~ .hamburger__btn span:before
{
    top: 25%;

    -webkit-transform: rotate(-45deg) translateX(-50%);

    -ms-transform: rotate(-45deg) translateX(-50%);

    transform: rotate(-45deg) translateX(-50%);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}
#hamburger__btn:checked ~ .hamburger__btn span:after
{
    bottom: 25%;

    -webkit-transform: rotate(45deg) translateX(-50%);

    -ms-transform: rotate(45deg) translateX(-50%);

    transform: rotate(45deg) translateX(-50%);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}