/*----------------
　　既往歴ボタン
-----------------*/
.menkio input[type=radio],
.menkio input[type=checkbox] {
    display: inline-block;
    margin-right: 6px;
}
.menkio input[type=radio] + label,
.menkio input[type=checkbox] + label {
    position: relative;

    display: inline-block;
    margin-right: 12px;

    font-size: 14px;
    line-height: 30px;

    cursor: pointer;
}

@media (min-width: 1px) {
    .menkio input[type=radio],
    .menkio input[type=checkbox] {
        display: none;
        margin: 0;
    }
    .menkio input[type=radio] + label,
    .menkio input[type=checkbox] + label {
        padding: 0 0 0 24px;
    }
    .menkio input[type=radio] + label::before,
    .menkio input[type=checkbox] + label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -9px;

        background: #FFF;
    }
    .menkio input[type=radio] + label::before {
        border: 2px solid #ccc;
        border-radius: 30px;
    }
    .menkio input[type=checkbox] + label::before {
        border: 2px solid #ccc;
    }
    .menkio input[type=radio]:checked + label::after,
    .menkio input[type=checkbox]:checked + label::after {
        content: "";
        position: absolute;
        top: 50%;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }
    .menkio input[type=radio]:checked + label::after {
        left: 5px;

        width: 8px;
        height: 8px;
        margin-top: -4px;

        background: #E71063;
        border-radius: 8px;
    }
    .menkio input[type=checkbox]:checked + label::after {
        left: 3px;

        width: 16px;
        height: 8px;
        margin-top: -8px;

        border-left: 3px solid #E71063;
        border-bottom: 3px solid #E71063;

        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /* meneither */
    .menkio .meneither {
        position: relative;

        display: inline-block;
        width: 120px;
        overflow: hidden;
        border: 2px solid #ccc;
    }
    .menkio .meneither input[type=radio] + label {
        position: static;

        float: left;
        display: block;
        width: 50%;
        margin-right: 0;
        padding: 0;
        overflow: hidden;

        text-align: center;
    }
    .menkio .meneither input[type=radio] + label::before {
        content: attr(data-label);

        top: 0;
        bottom: 0;
        z-index: 1;

        display: block;
        width: 50%;
        height: auto;
        margin-top: 0;

        text-align: center;

        color: transparent;
        background: transparent;
        border: 0 none;
        border-radius: 0;
    }
    .menkio .meneither input[type=radio] + label:last-child::before {
        left: 50%;
        right: 0;

    }
    .menkio .meneither input[type=radio]:checked + label::before {
        color: #fff;
    }

    .menkio .meneither input[type=radio] + label::after {
        border-radius: 0;
    }
    .menkio .meneither input[type=radio]:first-child + label::after {
        content: none;
    }
    .menkio .meneither input[type=radio] + label + input[type=radio] + label::after {
        content: "";

        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 0;

        display: block;
        width: auto;
        height: auto;
        margin: auto;

        background: #3c763d;
        border: 2px solid #fff;

        -webkit-transition: all 200ms;
        transition: all 200ms;
    }

    .menkio .meneither input[type=radio]:checked + label + input[type=radio] + label::after {
        left: 0;
        right: 50%;
    }
    .menkio .meneither input[type=radio] + label + input[type=radio]:checked + label::after {
        left: 50%;
        right: 0;
    }

}
/*-----------------------------------*/



/*----------------
　　既往歴ボタン
-----------------*/
.womenkio input[type=radio],
.womenkio input[type=checkbox] {
    display: inline-block;
    margin-right: 6px;
}
.womenkio input[type=radio] + label,
.womenkio input[type=checkbox] + label {
    position: relative;

    display: inline-block;
    margin-right: 12px;

    font-size: 14px;
    line-height: 30px;

    cursor: pointer;
}

@media (min-width: 1px) {
    .womenkio input[type=radio],
    .womenkio input[type=checkbox] {
        display: none;
        margin: 0;
    }
    .womenkio input[type=radio] + label,
    .womenkio input[type=checkbox] + label {
        padding: 0 0 0 24px;
    }
    .womenkio input[type=radio] + label::before,
    .womenkio input[type=checkbox] + label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -9px;

        background: #FFF;
    }
    .womenkio input[type=radio] + label::before {
        border: 2px solid #ccc;
        border-radius: 30px;
    }
    .womenkio input[type=checkbox] + label::before {
        border: 2px solid #ccc;
    }
    .womenkio input[type=radio]:checked + label::after,
    .womenkio input[type=checkbox]:checked + label::after {
        content: "";
        position: absolute;
        top: 50%;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }
    .womenkio input[type=radio]:checked + label::after {
        left: 5px;

        width: 8px;
        height: 8px;
        margin-top: -4px;

        background: #E71063;
        border-radius: 8px;
    }
    .womenkio input[type=checkbox]:checked + label::after {
        left: 3px;

        width: 16px;
        height: 8px;
        margin-top: -8px;

        border-left: 3px solid #E71063;
        border-bottom: 3px solid #E71063;

        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /* womeneither */
    .womenkio .womeneither {
        position: relative;

        display: inline-block;
        width: 120px;
        overflow: hidden;
        border: 2px solid #ccc;
    }
    .womenkio .womeneither input[type=radio] + label {
        position: static;

        float: left;
        display: block;
        width: 50%;
        margin-right: 0;
        padding: 0;
        overflow: hidden;

        text-align: center;
    }
    .womenkio .womeneither input[type=radio] + label::before {
        content: attr(data-label);

        top: 0;
        bottom: 0;
        z-index: 1;

        display: block;
        width: 50%;
        height: auto;
        margin-top: 0;

        text-align: center;

        color: transparent;
        background: transparent;
        border: 0 none;
        border-radius: 0;
    }
    .womenkio .womeneither input[type=radio] + label:last-child::before {
        left: 50%;
        right: 0;

    }
    .womenkio .womeneither input[type=radio]:checked + label::before {
        color: #fff;
    }

    .womenkio .womeneither input[type=radio] + label::after {
        border-radius: 0;
    }
    .womenkio .womeneither input[type=radio]:first-child + label::after {
        content: none;
    }
    .womenkio .womeneither input[type=radio] + label + input[type=radio] + label::after {
        content: "";

        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 0;

        display: block;
        width: auto;
        height: auto;
        margin: auto;

        background: #3c763d;
        border: 2px solid #fff;

        -webkit-transition: all 200ms;
        transition: all 200ms;
    }

    .womenkio .womeneither input[type=radio]:checked + label + input[type=radio] + label::after {
        left: 0;
        right: 50%;
    }
    .womenkio .womeneither input[type=radio] + label + input[type=radio]:checked + label::after {
        left: 50%;
        right: 0;
    }

}
/*-----------------------------------*/
