/*-----------------
    Default class
-------------------*/

body{
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: 'Noto Sans Japanese', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
body a{
  text-decoration: none;
  color: #fff;
}
body a:hover{
  text-decoration: none;
}
.wrapper{
  margin: 0 auto;
  background: #27C227;
}

#container {
    width: 100%;
    position: relative;
    height: auto !important;
    height: 100%; /*IE6対策*/
    min-height: 100%;
}


/*Script*/
.popupAction{position: fixed; bottom: 0; left: 0; z-index: 99999;}
.popupAction:hover{opacity: .9;}
#popup{padding: 10px 20px 10px; border-radius: 0 5px 5px 0; background: #b00; opacity: .9; font-size: 1.2rem; display: table-cell; vertical-align: middle; cursor: pointer;color: #fff;}
#popupAction{padding: 30px; background:rgba(0,0,0,.8);color: #fff;}

/*-----------------
    free class
-------------------*/
.pl-15{padding-left: 15px;}
.pr-0{padding-right: 0;}
.p-0{padding:0;}
.clear{clear: both;}
.centering{width: 100%; text-align:center;}

.sbox{max-width:30%;min-width:125px;}
.mbox{max-width:40%;min-width:225px;}

.col-sm-1{
  max-width: 50px;
  min-width: 7.0%;
  margin:5px auto;
  padding: 0px;
  text-align: center;
}
.col-xs-1{
  width: 21px;
  margin:5px auto;
  padding: 0px;
  text-align: center;
}
.col-xs-3{
  max-width: 100px;
  min-width: 30%;
}
.col-sm-8{width: 70%;}


/*-----------------
    Form Style
-------------------*/
/*ここからヘッダー*/
.bargerBtn{display: none;}
.headerBox {
  background: #59a7c3;
  padding: 0 0 10px;
}
.headerBox a:hover{
  background: #d4b17f;
  border-radius: 5px;        /* CSS3草案 */
  -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 5px;   /* Firefox用 */
}
  .headerBox > div{
    display: flex;
    justify-content: space-between;
    background: #172e63;
    color: #fff;
    font-size: 90%;
    align-items: center;
    /*border-bottom: 2px #666 solid;*/

    /* box-shadow */
    box-shadow:0px 5px 20px -5px #000;
    -moz-box-shadow:0px 5px 20px -5px #000;
    -webkit-box-shadow:0px 5px 20px -5px #000;
    xindex: 999;
  }
  .headerBox img{
    max-height: 35px;
  }
  .gNav{  /*headerナビボタン*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 0 10px;
  }
  .gNav a{
    display: block;
    padding: 5px 20px;
    color: #fff;
    vertical-align: middle;
    margin-left: 5px;
  }
  .gNav a + a{
    border-left: 1px solid #fff;
  }
  .share{
    display: flex;
    margin-right: 5px;
  }
  .share img{
    max-height: 30px;
    display: block;
    padding: 5px;
  }
  .modal-content{
    font-size: 24px;
    color: #3e3e3e;
  }
  .modalBoxa{
    text-align: center;
    width: 90%;
    padding: 10px;
  }
  .modalBox .modal-body{
    display: inline-block;
    margin-top: 15px;
    line-height: 2.5em;
    text-align: left;
    font-size: 80%;
  }
  .modalBox .modal-body ul{
    border-top: 1px solid #ddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .modalBox .modal-body li{
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
  }
  .modalBox .modal-body li a{
    padding: 5;
    color: #3e3e3e;
  }
  .col-sm-5 .form-control select{
    margin: 0;
    padding: 0;
  }
/*----------------------*/

/*----------------------*/

  .pad{padding: 10px;}
  .m-l10{margin-left: 10px;}
/*ここまでヘッダー*/

.learning{width: 100%; text-align: left;font-weight: bold; font-size: 120%;}

/*Form part Box*/
  .contBox{
    margin: 0;
    padding: 0;
  }
  .fstView{
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
    background: #59a7c3;
    color: #fff;
  }
  .fstView .textBox{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fstTitle{
    font-size: 200%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    vertical-align:middle;
  }
  .fstSubTitle{
    font-size: 80%;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  }
  .mainCont{
    padding-top: 80px;
    background: #fff;
    margin: auto;
    padding: auto;
  }
  .sBtn{
    display: flex;
    width: auto;
    margin: 0 auto ;
    justify-content: center;
    align-items: center;
  }
  .sBtn img{
    display: block;
    margin: 0 20px;
  }
  .sBtn img a{
    background: #fff;
  }
  .sBtn img a:hover{
    background: #fff;
  }
/*ここから入力フォーム*/

#formBox{
  margin-top: 30px;
}
#fastContact{
  display:block;
  width: 340px;
  height: auto;
  margin: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;

}
/*共通フォーム*/
.nowPosition{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 15px;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  color: #ececec;
}
.nowPosition .left-sp{
  background: url("../img/left-sp.svg") no-repeat;
  background-size: 105px 35px;
}
.nowPosition .in-sp{
  background: url("../img/in-sp.svg") no-repeat;
  background-size: 105px 35px;
}

.nowPosition .mark-in-sp{
  background: url("../img/mark-in-sp.svg") no-repeat;
  background-size: 115px 35px;
}
.nowPosition .markout-in-sp{
  background: url("../img/markout-in-sp.svg") no-repeat;
  background-size: 105px 35px;
}
.nowPosition .right-sp{
  width: 115px;
  background: url("../img/right-sp.svg") no-repeat;
  background-size: 115px 35px;
}

.marker{
  display: block;
  text-align: center;
  padding: 7px 0 8px 10px;
  width: 105px;
}


.mainForm{
  width: 680px;
  height: auto;
  margin: auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

.partsBox{
  background: #f3f3f3;
  padding: 0 20px 5px;
  border: solid #e0e0e0 1px;
  margin-bottom: 20px;
}
.form-horizontal p{
  display: inline-block;
  width: auto;
  padding: 10px;
  text-align: center;
}

.borderbm{
  margin: 15px auto 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 26px;
}




#men_kioreki{
  display: none;
}
#women_kioreki{
  display: none;
}


/*---------------*/
/*男性フォーム*/
#menBox{
  display: none;
}

/*女性フォーム*/
  #womenBox{
    display: none;
  }

/*ここまで入力フォーム*/

  .footer{
    position: static;
    bottom:0;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background: #172e63;
    color: #fff;
    text-align: center;
  }

  /*--------------------
      SmartPhone Style
  ----------------------*/
  @media screen and (max-width: 768px) {
     /*--- 表示領域が768px以下の場合に適用するスタイル ---*/
     /*---------
      wrapper
     ---------*/

     /*---------
      header
     ---------*/
     .headerBox {text-align: center; width: 100%; margin:auto; padding: auto;}
     .headerBox img{margin: 10px;}
     .gNav {display: none;}
     .share {display: none}
     .headerBox > div {display: block;}

     /*bgrBtn*/
     .bargerBtn{
       display: inline-block;
       position: absolute;
       top: 20px;
       right: 10px;
      }



     /*---------
      Container
     ---------*/
     .mainCont{
       padding-top: 30px;
     }
     /*sBtn*/
     .sBtn img{width: 80%; margin: auto;}
     /*入力フォーム*/
     #fastContact{width: 260px;}
     .mainform{
       width: 90%;
       font-size: 128%;
     }
     .marker{
       padding: 5px 0 5px 15px;
       font-size: 80%;
     }
     .col-sm-10 .col-sm-7{
       padding-left: 0px;
      }
      .form-group .col-sm10 .col-sm-5{
        padding:auto 0;
      }
      .mb-10{
        margin-bottom: 10px;
      }



     /*---------
      footer
     ---------*/
     .footer{margin-top: 50px;}
  }

  @media screen and (max-width: 542px) {
     /*--- 表示領域が550px以下の場合に適用するスタイル ---*/
     /*#fastContact{width: 60%;}*/
     .nowPosition{
       width: 100%;
       margin: 0px auto 10px;
       font-size: 70%;
     }
     .marker{
       padding: 5px 0 5px 9px;
       margin-left: -1px;
     }
     .nowPosition .left-sp{
       background-size: cover;
       width: 60px;
     }
     .nowPosition .in-sp{
       background-size: cover;
       width: 60px;
     }

     .nowPosition .mark-in-sp{
       background-size: cover;
       width: 60px;
     }
     .nowPosition .markout-in-sp{
       background-size: cover;
       width: 60px;
     }
     .nowPosition .right-sp{
       background-size: cover;
       width: 60px;
     }
     .mainform{padding:10px 15px 0px;}
     .learning{text-align: center;}
     .partsBox{padding: 0 10px;}


   }

  @media screen and (max-width: 415px) {
     .telbox{
       width: 68px;
       margin:5px auto;
     }
     .srchbox button{margin-left: 10px;}
   }
  /*-----------------
      Test Style
  -------------------*/
  .testBtn_men{
    background: #4370ad;
  }
  .testBtn_women{
    background: #a64242;
  }

.block{
  background-color:#abc;
  width:90px;
  height:90px;
  margin:5px;
}
.form-horizontal .control-label {text-align: center !important;}
