#image-navigation{width:770px;}

img {
  border:0;
  vertical-align:bottom;
}
ul,
li {
  margin:0;
  padding:0px;
  list-style:none;
}
#image-navigation ul li{
  display:block;
  width:210px;
  border-bottom:1px solid white;
  }
  
#image-navigation ul li:last-child{border-bottom:none;}


#image-navigation .navi-image {
  float:left;
  padding:0px;
  margin:0px;
}

#image-navigation .navi-image img{

	width:560px;
	height:285px;
	
}

#image-navigation-text ul li a {
  display:none;
  width:210px;
  height:56px;
  color:#333;
  line-height:50px;
  text-align:center;

}


#text{font-size:13px;
	  float:left;
	  width:500px;
	  margin:auto;
	  padding:10px;}
span{font-size:18px;}
.div1077{width:200px; 
			 height:200px;]
	.div107{position:relative;
		    left:570px;
		    width:150px;
		    height:100px;}