@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vht407');
  src:  url('fonts/icomoon.eot?vht407#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vht407') format('truetype'),
    url('fonts/icomoon.woff?vht407') format('woff'),
    url('fonts/icomoon.svg?vht407#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiita .path1:before {
  content: "\e900";
  color: rgb(100, 201, 20);
}
.icon-qiita .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-qiita .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(100, 201, 20);
}
.icon-qiita .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-github:before {
  content: "\eab0";
}
.icon-codepen:before {
  content: "\eae8";
}

