/*------------------
  ----riset Style---
------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
 a,a:hover{text-decoration: none; color: #fff;}

/*------------------
  -----pc style-----
------------------*/
  html,body{
    color:#333;
    margin: auto;
    height: 100%;
    background: #f3f3f3;
    text-align: center;
  }
  #wrapper{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    text-align: left;
  }

/*------------------
  -----header------
------------------*/
  #header{
    width: auto;
    height: auto;
    margin-bottom: 25px;
  }
  #header img{
    margin: 0 auto 0 0;
  }

  .gNav{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 20px 20px 0;
    width: auto;
    height: auto;
  }
  .gNav span:first-child{
    margin-right: auto;
  }
  .gNav span a{
    display: block;
    padding: 10px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    color: #333;
    font-size: 80%;
  }
  .gNav span a:hover{
    color: #fff;
    background: #76c7c0;
  }
  .gNav .sp{display: none;}

  .pankuzu ul{
    display-webkit-: flex;
    display: flex;
    align-items: center;
    margin: 20px auto auto;
    max-height: 50px;
    font-size: 70%;
    background: #76c7c0;
    line-height: 1;
  }
  .pankuzu li{
    list-style-image: url(../img/li-mark.png);
    margin: 0 20px 0 0;
    padding: 0;
  }
  .pankuzu li:first-child{
    list-style-image: url(../img/li-mark_home.png);
    padding-left: 0px;!important
  }

  .pankuzu a{
    display: block;
    margin: 10px;
  }
  .nowMark a{

    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background: #e2534b;
    text-align: center;
  }


/*------------------
  -----container----
------------------*/
  #container{
    padding: auto;
    padding-bottom: 80px;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .contBox{
    display: inline-block;
    margin: 15px;
    width: 260px;
    border-radius: 5px;
    background: #ddd;
  }

  .photoBox{
    width: auto;
    height: 180px;
    border-radius: 5px 5px 0 0;
  }

  .textBox{
    padding: 10px 0 20px;
    width: auto;
    line-height: 2em;
    background: #fff;
    border-radius: 0 0 5px 5px;
  }

  .btnBox{
    width: auto;
    color: #fff;
  }

  .btnBox a img{
    height: 12px;
  }
  .btnBox a{
    padding: 5px 12px;
    border-radius: 5px;
    background: #e2534b;
  }

  .namberBox{
    margin: 20px auto;
  }
  .namberBox a{
    margin-left: 5px;
    padding: 5px 13px;
    background: #6bb4ad;
  }
  .namberBox a:hover{
    background: #5a9e98;
}

/*モーダル*/
  .btnBox div img{
    margin: 20px auto;
  }

  @media screen and (max-width:768px) {
    .gNav .pc{display: none!important;}
    .gNav {
      justify-content: center;
    }
    #header img{margin:auto;}
    .gNav .sp{
      display: inline-block;
      position: absolute;
      right: 20px;
    }
    .gNav .sp img{ height: 15px;}
    .gNav span{text-align: center;}
    .gNav span a{margin: 0;border-radius: 0;}
    .gNav span a:hover{}
  }


/*------------------
  -----footer------
------------------*/
  #footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background: #6bb4ad;
  }

/*test--------------------------------*/
